body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted {
    color: #777777;
}
.text-primary {
    color: #993d3a;
}
p {
    font-size: 14px;
    line-height: 1.75;
}
p.large {
    font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}
a {
    color: #993d3a;
}
a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.img-centered {
    margin: 0 auto;
} 
.logo-img {
    width: 100%;
    height: auto;
}
.bg-light-gray {
    background-color: #eeeeee;
}
.bg-darkest-gray {
    background-color: #222222;
}
.btn-primary {
    color: white;
    background-color: #993d3a;
    border-color: #993d3a;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: white;
    background-color: #fec503;
    border-color: #f6bf01;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #993d3a;
    border-color: #993d3a;
}
.btn-primary .badge {
    color: #993d3a;
    background-color: white;
}
.btn-xl {
    color: white;
    background-color: #993d3a;
    border-color: #993d3a;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: white;
    background-color: #fec503;
    border-color: #f6bf01;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #993d3a;
    border-color: #993d3a;
}
.btn-xl .badge {
    color: #993d3a;
    background-color: white;
}
.navbar-custom {
    background-color: #222222;
    border-color: transparent;
}
.navbar-custom .navbar-brand {
    color: #993d3a;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color: #fec503;
}
.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
    background-color: #993d3a;
    border-color: #993d3a;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #993d3a;
}
.navbar-custom .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #993d3a;
    outline: none;
}
.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #993d3a;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: white;
    background-color: #fec503;
}
@media (min-width: 768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-custom .navbar-nav > .active > a {
        border-radius: 3px;
    }
}
@media (min-width: 768px) {
    .navbar-custom.affix {
        background-color: #222222;
        padding: 10px 0;
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }
}
header {
    background-image: url('../images/back1.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
}
header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}
header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
    color: #4a3c2a;
}
header .intro-date {
    font-weight: 700;
    font-size: 50px;
    color: #b8b6a3;
}
@media (min-width: 768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    header .intro-text .intro-lead-in {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    header .intro-text .intro-heading {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
        color: #4a3c2a;
    }
    header .intro-date {
        font-weight: 700;
        font-size: 40px;
        color: #b8b6a3;
    }
}
section {
    padding: 100px 0;
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
}
@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
}
.service-heading {
    margin: 15px 0;
    text-transform: none;
}
@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}
.schedule {
    list-style: none;
    padding: 0;
    position: relative;
}
.schedule:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px;
}
.schedule > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px;
}
.schedule > li:before,
.schedule > li:after {
    content: " ";
    display: table;
}
.schedule > li:after {
    clear: both;
}
.schedule > li .schedule-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left;
}
.schedule > li .schedule-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.schedule > li .schedule-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.schedule > li .schedule-image {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #993d3a;
    color: white;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center;
}
.schedule > li .schedule-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px;
}
.schedule > li.schedule-inverted > .schedule-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px;
}
.schedule > li.schedule-inverted > .schedule-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.schedule > li.schedule-inverted > .schedule-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.schedule > li:last-child {
    margin-bottom: 0;
}
.schedule .schedule-heading h4 {
    margin-top: 0;
    color: inherit;
}
.schedule .schedule-heading h4.subheading {
    text-transform: none;
}
.schedule .schedule-body > p,
.schedule .schedule-body > ul {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .schedule:before {
        left: 50%;
    }
    .schedule > li {
        margin-bottom: 100px;
        min-height: 100px;
    }
    .schedule > li .schedule-panel {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .schedule > li .schedule-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px;
    }
    .schedule > li .schedule-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px;
    }
    .schedule > li.schedule-inverted > .schedule-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px;
    }
}
@media (min-width: 992px) {
    .schedule > li {
        min-height: 150px;
    }
    .schedule > li .schedule-panel {
        padding: 0 20px 20px;
    }
    .schedule > li .schedule-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .schedule > li .schedule-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px;
    }
    .schedule > li.schedule-inverted > .schedule-panel {
        padding: 0 20px 20px;
    }
}
@media (min-width: 1200px) {
    .schedule > li {
        min-height: 170px;
    }
    .schedule > li .schedule-panel {
        padding: 0 20px 20px 100px;
    }
    .schedule > li .schedule-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .schedule > li .schedule-image h4 {
        margin-top: 40px;
    }
    .schedule > li.schedule-inverted > .schedule-panel {
        padding: 0 100px 20px 20px;
    }
}

section#arrow{
    background-image: url('../images/back3.png');
    background-position: center;
    background-repeat: no-repeat;
}

section#naminations{
    background-color: #aba196;
    background-position: center;
    background-repeat: no-repeat;
}

section#partners{
    background-color: #aba196;
    background-position: center;
    background-repeat: no-repeat;
}

.mentor {
    text-align: center;
    margin-bottom: 50px;
}
.mentor img {
    margin: 0 auto;
    border: 7px solid white;
}
.mentor h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}
.mentor p {
    margin-top: 0;
}

section#registration{
    background-color: #222222;
    background-image: url('../images/back2.png');
    background-position: center;
    background-repeat: no-repeat;
}
section#registration .section-heading {
    color: white;
}
section#registration .form-group {
    margin-bottom: 25px;
}
section#registration .form-group input,
section#registration .form-group textarea {
    padding: 20px;
}
section#registration .form-group input.form-control {
    height: auto;
}
section#registration .form-group textarea.form-control {
    height: 236px;
}
section#registration .form-control:focus {
    border-color: #993d3a;
    box-shadow: none;
}
section#registration ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#registration :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#registration ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#registration :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#registration .text-danger {
    color: #e74c3c;
}
footer {
    padding: 25px 0;
    text-align: center;
}
footer span.copyright {
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    display: block;
    background-color: #222222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #993d3a;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}
::-moz-selection {
    text-shadow: none;
    background: #993d3a;
}
::selection {
    text-shadow: none;
    background: #993d3a;
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
body {
    webkit-tap-highlight-color: #993d3a;
}
#map {
    height: 600px;
    width: 100%;
}
