# Vim staff #                                                                      
#############                                                                      
*~                                                                                 
*.swp                                                                              
*.swo                                                                              
*.swn                                                                              
*.swl                                                                              
*.swm                                                                              
*.swj                                                                              
*.swk

# Mac OS stuff #                                                                   
################                                                                   
.DS_Store

.idea
